* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url('loginprojectbackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container{
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    padding: 30px 40px;
    border: 2px solid rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);

}

.login-container h3{
    font-size: 36px;
    text-align: center
}

.login-container .login-input{
    position: relative;
    width: 100%;
    height: 50px;
    /* background: white; */
    margin: 30px 0;
}

.login-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgb(230, 157, 157);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    
}

.login-input input::placeholder{
    color: white;
}

.login-input i{
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-container .remember-me{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
    font-weight: 600;
}

.remember-me label{
    margin-right: 5px;
}

.remember-me label input{
    accent-color: #fff;
    margin-right: 3px;
    margin-left: 10px;
}

.remember-me a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.remember-me a:hover{
    text-decoration: underline;
}

.login-container .btn{
    width: 50%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.login-container .register-box{
    text-align: center;
    font-size: 14.5px;
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
}

.register-box p a{
    color: white;
    text-decoration: none;
    font-size: 14.5px;
    font-weight: 600;
    margin-left: 5px;
}

.register-box p a:hover{
    text-decoration: underline;
}